<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Appointment (Customer)</title>
</head>
<body>
    <h1>Booking Confirmed</h1><br>   
    
    <h3>The Appointment has been booked</h3><br>

    <button><a href="/">Return to Main Page</a></button>
</body>
</html>