<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Appointment (Customer)</title>
</head>
<body>
    <h1>Delete Appointment Confirmed</h1><br>   
    
    <h3>The Appointment has been deleted</h3>
    
    <br>
    <button><a href="/">Return to Main Page</a></button>
</body>
</html>