<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete User (Admin)</title>
</head>
<body>
    <h1>Deleted User</h1><br>
    <h3>The user {{.Username}} has been deleted</h3><br>  
    <button><a href="/viewusers">Return to Users</a></button>
</body>
</html>