<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deleted Session (Admin)</title>
</head>
<body>
    <h1>Deleted Session</h1><br>   
    <h3>The session {{.SessionID}} has been deleted</h3><br>
    <button><a href="/viewsessions">Return to Sessions</a></button>
</body>
</html>