<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password (Customer)</title>
</head>
<body>
    <h1>Change Password</h1>
    <form action="/editpassword" method="post">       
        <label for="currentPassword">Current Password:</label>
        <input type="password" name="currentPassword"><br>
        <label for="newPassword">New Password:</label>
        <input type="password" name="newPassword"><br>
        <input type="submit" value="Confirm">
    </form>
    <br><br>
    <button><a href="/profile">Return to Profile</a></button>
</body>
</html>