<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Username (Customer)</title>
</head>
<body>
    <h1>Change Username</h1>
    <form action="/editusername" method="post">       
        <label for="newUsername">New Username:</label>
        <input type="text" name="newUsername"><br>    
        <input type="submit" value="Confirm">
    </form>
    <br><br>
    <button><a href="/profile">Return to Profile</a></button>
</body>
</html>