<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Appointment (Admin)</title>
</head>
<body>
    <h1>Edit Appointment Confirmed</h1><br>   
    
    <h3>The Appointment has been changed</h3><br>

    <button><a href="/viewappointments">Return to View Appointments</a></button>
</body>
</html>