<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Appointment (Customer)</title>
</head>
<body>
    <h1>Current appointment</h1>
    <table>
        <tr>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <br>
        </tr>            
        <tr>                        
            <td>{{.App.Date}}</td>
            <td>{{.App.StartTime}}</td>
            <td>{{.App.EndTime}}</td>                
            <br>        
        </tr>           
    </table>
    <h1>Change appointment to: </h1>
    <form action="/editappointmentdone" method="post">       
        <label for="Date">Date: </label>
        <select name="newAppointment">    
        {{range .AllApps}} 
            {{if eq .Name ""}}      
                <option value="{{.AppId}}" name="newAppointment">{{.Date}} {{.StartTime}} {{.EndTime}}</option>
            {{end}}
        {{end}}
        
        </select>
        <br><br>
        <input type="hidden" name="oldAppointment" value="{{.App.AppId}}">
        <input type="submit">
    </form>
    <br>
    <button><a href="/">Return to Main Page</a></button>
</body>
</html>