<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dental Appointment System</title>
</head>
<body>
    <h1>Dental Appointment System</h1>

    <form action="/login" method="post">
        <input type="text" name="username" placeholder="username"><br>
        <input type="password" name="password" placeholder="password"><br>    
        <input type="submit" value="Login">    
    </form>
    <h3>Or <a href="/signup">Sign up</a> if you do not have an account</h3>
</body>
</html>