<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
    <h3><a href="/editusername">Edit Username</h3>
    <h3><a href="/editpassword">Edit Password</h3>
    <button><a href="/">Return to Main Page</a></button>
</body>
</html>