<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Profile (Customer)</title>
</head>
<body>
    <h1>Update Profile</h1><br>   
    <h3>The user {{.Username}} has been updated</h3><br>
    <button><a href="/profile">Return to Profile</a></button>
</body>
</html>